{% load static %}

<link href="{% static 'css/bmin.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/myapp.css' %}" rel="stylesheet">



<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">{{ i.username }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="productList">ProductList</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="searchProduct">Search</a>
                </li>


                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="editProfile">EditProfile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="cartList">CartList</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="userLogout">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="myorder">MyOrder</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Feedback</a>
                </li>
                

                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="addUser">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="userLogin">Login</a>
                </li>

                {% endif %}

             

               

              
               

               
              
            </ul>
        </div>
    </div>
</nav>